body {
    text-align: center;
}

td.square {
    border: 1px solid #000;
    width: 5rem;
    height: 5rem;
    font-size: 50px;
    background-color: #999999;
    color: #ffffff;
    cursor: pointer;
}

table{
    margin: 3rem auto;
}

.game-finished{
    margin-top: 3rem;
    font-size: 50px;
    color: darkred;
}